name: ci
on: [push, pull_request]

jobs:

  check-format:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - uses: pre-commit/action@v2.0.0

  test:
    name: "Build (${{ matrix.os }} Python ${{ matrix.python-version }}) Sphinx ${{ matrix.sphinx }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.7', '3.8', '3.9']
        sphinx: ['2', '3', '4.0.0b1']
    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dev dependencies
        shell: bash
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r dev-requirements.txt
          python -m pip install sphinx~=${{ matrix.sphinx }}
      - name: Build wheel
        run: |
          python setup.py bdist_wheel
      - name: Install wheel
        shell: bash
        run: |
          python -m pip install dist/*.whl
      - name: Install test dependencies
        run: |
          python -m pip install -r test-requirements.txt
      
      - name: Find Chrome Location
        if : ${{ matrix.os == 'windows-latest' }}
        run: |
          if not exist "C:\Program Files (x86)\Google" mkdir "C:\Program Files (x86)\Google"
          if not exist "C:\Program Files (x86)\Google\Chrome" mkdir "C:\Program Files (x86)\Google\Chrome"
          mklink /D "C:\Program Files (x86)\Google\Chrome\Application" "C:\Program Files\Google\Chrome\Application"
        shell: cmd
      - name: Run Tests
        run: |
          cd tests
          python -m pytest -vv --headless

  pypi-release:
    if: startsWith(github.ref, 'refs/tags/v') && github.repository_owner	== 'wpilibsuite'
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r dev-requirements.txt
      - name: Build PyPI Wheel
        run: |
          python setup.py sdist
          python setup.py bdist_wheel
      - name: Publish a Python distribution to PyPI
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
